In [1]:
from pyspark import SparkConf, SparkContext
sc = SparkContext(conf = SparkConf().setMaster('local').setAppName('FriendsByAge'))

In [2]:
csv_file = sc.textFile('file:////Users/giovanna/Documents/GitHub/pyspark/SparkCourse/fakefriends.csv')
csv_file.take(2)

['0,Will,33,385', '1,Jean-Luc,26,2']

In [7]:
def parser (line):
    fields = line.split(',')
    return (int(fields[2]), int(fields[3])) # Age, Total Friends

In [8]:
rdd = csv_file.map(parser)
rdd.take(2)

[(33, 385), (26, 2)]

In [10]:
totalByAge = rdd.mapValues(lambda x: (x, 1))\
                    .reduceByKey(lambda x, y: (x[0] + y[0], x[1] + y[1]))
# mapValues: map only values, the key is hidden
# reduceByKey: do action on par of things in the same key
totalByAge.take(2)

[(33, (3904, 12)), (26, (4115, 17))]

In [12]:
meanByAge = totalByAge.mapValues(lambda x: x[0]/x[1])
meanByAge.take(2)

[(33, 325.3333333333333), (26, 242.05882352941177)]

In [13]:
result = meanByAge.collect()
for res in result:
    print (res)

(33, 325.3333333333333)
(26, 242.05882352941177)
(55, 295.53846153846155)
(40, 250.8235294117647)
(68, 269.6)
(59, 220.0)
(37, 249.33333333333334)
(54, 278.0769230769231)
(38, 193.53333333333333)
(27, 228.125)
(53, 222.85714285714286)
(57, 258.8333333333333)
(56, 306.6666666666667)
(43, 230.57142857142858)
(36, 246.6)
(22, 206.42857142857142)
(35, 211.625)
(45, 309.53846153846155)
(60, 202.71428571428572)
(67, 214.625)
(19, 213.27272727272728)
(30, 235.8181818181818)
(51, 302.14285714285717)
(25, 197.45454545454547)
(21, 350.875)
(42, 303.5)
(49, 184.66666666666666)
(48, 281.4)
(50, 254.6)
(39, 169.28571428571428)
(32, 207.9090909090909)
(58, 116.54545454545455)
(64, 281.3333333333333)
(31, 267.25)
(52, 340.6363636363636)
(24, 233.8)
(20, 165.0)
(62, 220.76923076923077)
(41, 268.55555555555554)
(44, 282.1666666666667)
(69, 235.2)
(65, 298.2)
(61, 256.22222222222223)
(28, 209.1)
(66, 276.44444444444446)
(46, 223.69230769230768)
(29, 215.91666666666666)
(18, 343.375)
(47, 233.22222222222223)
(34, 245.5)
(63, 384.0)
(23, 246.3)